// Palette URL: http://paletton.com/#uid=3090u0kpBvnfJIpkX--uCrQvYlI */
//

$primaryLightest: #ff9a82;
$primaryLight: #ff7858;
$primary: #fa5732;
$primaryDark: #de320a;
$primaryDarkest: #ad2100;

$complementLightest: #25799e;
$complementLight: #6aacc8;
$complement: #418dae;
$complementDark: #0c658c;
$complementDarkest: #054e6d;

$color-secondary-2-0: #92e42e;
$color-secondary-2-1: #bcf27b;
$color-secondary-2-2: #a6eb51;
$color-secondary-2-3: #73ca09;

$borderRadius: 3px;

$fg: #eee;
$bg: #e3d8d8;
$bg2: #f9f5f5;

$boxShadow: 0 10px 10px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%),
  0 8px 10px -5px rgb(0 0 0 / 20%);

$accentYellow: linear-gradient(60deg, #e6a249, #de8b1e);
$accentGreen: linear-gradient(60deg, #75b07b, #589a5e);
$accentSalmon: linear-gradient(60deg, #f55a4e, #f32c1e);
$accentGrey: linear-gradient(60deg, #9b9181, #827867);
$headerAccent: linear-gradient(60deg, #aca1b4, #94859e);
$accentPrimary: linear-gradient(60deg, #ff7858, #de320a);
