body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e3d8d8;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h1 {
  font-weight: 600;
  line-height: 30px;
}

h1,
h2,
h3 {
  color: #eee;
}

* {
  transition: 0.2s ease-out;
}

button {
  cursor: pointer;
  outline: none;
}

.app {
  display: grid;

  grid-template-rows: 150px auto 150px;
}
